<template>
    <lightning-card title="Apex Class Example" icon-name="custom:custom63">
            <div class="slds-m-around_medium">
                <template if:true={Contact.data}>
                    <template for:each={Contact.data} for:item="con">
                        <p key={con.Id}>{Contact.Name}</p>
                    </template>
                </template>
                
            </div>
        </lightning-card>
</template>